.answer-container{
    margin-bottom: 1em;
}

.game{
    margin: 1em;
}

.main{
    margin-top: 1em;
    padding: 1em;
}

.timer-container{
    margin-bottom: 1em;
}

.word-container{
    margin: 1em;
}