#main{
    margin-bottom: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#mapid { 
    height: 590px;
}

#myHeader{
    height: 200px;
    margin-bottom: 0.5em;
}

#navHeader{
    box-sizing: border-box;
}